
     html, body {
		 width: 100%;
		 height: 100%;
		 margin: 0;
		 padding: 0;
		 display: flex;
		 justify-content: center;
		 align-items: center;
		 background-color: #ace;
		 background-image: radial-gradient(#ace 0%, white 100%);
     }

     img {
		 margin: auto;
     }
	 
	 h1 {
		 font-family: 'Poor Story', sans-serif;
		 font-size: 2.5em;
		 color: #2d3c49;
	 }

     h2 {
		 font-family: 'Poor Story', sans-serif;
		 font-size: 2em;
		 color: #2d3c49;
     }
	 
	 p {
		 margin: 0;
		 font-size: 1.2em;
		 font-family: 'Poor Story', sans-serif;
  color: white;
  font-weight: 800;
	 }		 

	 a {
text-decoration: none;
font-size: 1.3em;
color: white;
	 }

a:hover { 
    color: orange;
}	 

div {
	padding: 10px;
	}

     .container {
		 width: 100%;
		 display: flex;
		 justify-content: center;
		 text-align: center;

     }

	 .cat1 {
		 flex-wrap: wrap;
		 width: 100%;
	 }
	 
	 .cat2 {
		 flex-wrap: wrap;
		 width: 100%;
	 }

	 .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	height: 7%;
    background-color: #ace;
    color: white;
    text-align: center;
	 }